@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-bg text-brand-cream font-sans antialiased selection:bg-brand-jade selection:text-brand-ink;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #33221A;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B08D74;
}